
# general module
django >5.2,<5.3
python-decouple
pillow
djangorestframework


# third party module
markdown
django-filter
drf-yasg[validation]
djangorestframework-simplejwt
djoser
# deployment module


# email third party modules
django-mail-templated

# refactoring and test
black
flake8
pytest
pytest-django
faker
django-cors-headers

# background process and cache 
django-redis